p {
  font-family: 'Inter', sans-serif;
}

body {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-image: url(../assets/images/footer/illustration-contact-form\ \(1\).png);
  background-size: 60px 160px;
  background-repeat: no-repeat;
}
